.header-container {
  display: flex;
  background-color: #152850;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
.logo-image {
  width: 100px;
}
.logout-button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
}
